.content {
  padding-top: 70px;
}

.header {
  background: var(--color-migbohr);
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--color-migbohr);
  width: 100%;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 200ms ease-in-out;
}

.nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

.nav a:hover {
  color: var(--color-heathrow);
}

.navName {
  margin: 1rem;
}

.navName a {
  color: var(--color-uros);
  text-decoration: none;
}

.toggleOpen ~ .nav {
  transform: scale(1,1);
}

.toggleOpen ~ .nav a {
  opacity: 1;
  transition: opacity 200ms ease-in-out 150ms;
} 

.navToggleLabel {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.navToggleLabel span,
.navToggleLabel span:before,
.navToggleLabel span:after {
  display: block;
  background: var(--color-uros);
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.navToggleLabel span:before,
.navToggleLabel span:after {
  content: '';
  position: absolute;
}

.navToggleLabel span:before {
  bottom: 7px;
}

.navToggleLabel span:after {
  top: 7px;
}

@media screen and (max-width: 800px) {
  .header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
  }

  .navName {
    margin-left: 2em;
    grid-column: 2 / 3;
  }
}
